<h1>Welcome to CSE Motors!</h1>
<img src="../images/vehicles/delorean.jpg">
<div>
    <h2>DMC Delorean</h2>
    <ul>
        <li>3 Cup Holders</li>
        <li>Superman Doors</li>
        <li>Fuzzy Dice</li>
    </ul>
    <button>Own Today</button>

    <section id="delorean_reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it's almost like traveling through time!" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section> 

    <section id="delorean_upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade">
            <img src="../images/upgrades/flux-cap.png">
            <a href="#">Flux Capacitor</a>
        </div>
        <div class="upgrade">
            <img src="../images/upgrades/flame.jpg">
            <a href="#">Flame Decals</a>
        </div>
        <div class="upgrade">
            <img src="../images/upgrades/bumper_sticker.jpg">
            <a href="#">Bumper Stickers</a>
        </div>
        <div class="upgrade">
            <img src="../images/upgrades/hub-cap.jpg">
            <a href="#">Hub Caps</a>
        </div>
    </section>
</div>