@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* fonts */
* {
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3{
  font-weight: bold;
}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* heading with title and account */
#wrapper{
  margin: auto;
  max-width: 100%;
  align-content: center;
}

#main-content {
  width:80%;
  height:80%;
  align-content: center;
  background-color: white;
  padding: .5em;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.siteName {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: .5em;
}
.siteName a {
  color: #000;
  text-decoration: none;
}

#tools {
  position: absolute;
  top: .5em;
  right: 1em;
  height: 100%;
  align-items: center;
}

#tools a {
  color: #000;
  text-decoration: none;
}

/* navigation styling */

#navigation ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;  
  justify-content: space-evenly;
}

#navigation li {
  flex-grow: 1;  
  text-align: center;  
  padding-top: .5em
}

#navigation li a:hover {
  background-color: white;
  color: black;  
}

#navigation a {
  display: block;  
  color: white;
  background-color: black;
  padding: 20px;
  text-decoration: none;
}

/* Delorean hero section */
#hero img {
  position: relative;
}
#hero img {
  width: 60%;
}

#dmc_delorean {
  background-color: rgb(255,255,255,0.6);
  color: teal;
  position:absolute;
  top: 250px;
  left: 50px;
  padding: .5em;
  border-radius: 3px;
}

#dmc_delorean h2 {
  margin-bottom: 0;
}
#dmc_delorean ul, #dmc_delorean li {
  list-style: none;
  font-size: large;
  color: teal;
  margin: 0;
  padding: 0;
}

button {
  padding: .5em;
  background-color: teal;
  color: white;
  border-radius: 3px;
  border: 2px grey;
  font-weight: bold;
  margin: .5em;
}


/* upgrades section */
#upgrades {
  margin-left: 1em;
}
#delorean_upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upgrade img {
  background-color: teal;
  box-sizing: border-box;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 3px;
  padding: 15px 10px;
}
/* specific styling for inventory page */
#inv-display {
  list-style-type: none;
}
#inv-display li {
  margin: 1em;
  border-radius: 3px;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 1em;
}
#inv-display li img {
  width:100%;
  border-radius: 7px 7px 0 0;
}

/* styling for vehicle details page */
#vehicle-img img{
  max-width: 100%;
  border-radius: 3px;
  padding-right:1em;
}
.price {
  font-size: x-large;
}

/* styling for login form */
#login {
  display: block;
  margin: auto;
  padding: .5em;
  border-radius: 5px;
  border: 3px solid grey;
  width: 500px;
  background-color: teal;
  color: white;
  font-size: x-large;
}
#login input {
  border-radius: 5px;
  border: 1px solid grey
}
#login a {
  color: white;
}

#pswdBtn {
  border: 1px solid grey;
  background-color: white;
  color: teal;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
}

/* styling for registration form */
#register {
  margin: auto;
  padding: .5em;
  border-radius: 5px;
  border: 3px solid grey;
  width: 500px;
  background-color: teal;
  color: white;
  font-size: large;
}
input , textarea{
  padding: .25em;
  border-radius: 5px;
  border: 1px solid grey;
  margin: .25em;
}

/* styling for management page */
  h2 {
    text-align: center;
  }
  #management-links {
    display: grid;
  }
  #addClass-link {
    grid-column: 1;
  }
  #addInv-link {
    grid-column: 2;
  }
  .management-link {
    margin: auto;
    margin-bottom: 4em;
    background-color: teal;
    color: white;
    border-radius: .75em;
    padding: .75em;
    text-decoration: none;
  }

  /* styling for add classification page and forms*/
  form {
    margin: auto;
    margin-bottom: 4em;
    padding: .5em;
    border-radius: 5px;
    border: 3px solid grey;
    width: 500px;
    background-color: teal;
    color: white;
    font-size: large;
  }
  i {
    font-size: small;
  }
  #submit-button {
    margin-top: 1em;
    border: none !important;
    border-radius: .5em !important;
    background-color: black;
    color: white;
    padding: .5em !important;
  }

  input:required:invalid, input:focus:invalid, textarea:focus:invalid, textarea:required:invalid {
    background-color: pink;
   }

   input:required:valid, input:focus:valid textarea:focus:valid, textarea:required:valid{
    background-color: #ACD1AF;
   }
   .success li {
    list-style: none;
    background-color: #ACD1AF;
    border-radius: .25em;
    padding: .5em;
    padding-left: 1em;
    margin: .5em;
    font-weight: bold;
   }
   .notice li {
    list-style: none;
    background-color: pink;
    border-radius: .25em;
    padding: .5em;
    padding-left: 1em;
    margin: .5em;
   }

@media only screen and (min-width:700px) {
 
  body{
    background-image: url("../images/site/small_check.jpg");
  }
  #main-content {
    margin: auto;
    max-width: 80%;
    border: 5px solid teal;
    border-radius: 5px;
    background-color: white;
  }

  #tools {
    right: 11em;
    top: 1.25em;
  }

  #dmc_delorean {
    left: 12%;
  }

  #delorean-stuff{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
  }
  #delorean_reviews {
    grid-column: 2;
    grid-row: 1;
  }
  #delorean_upgrades {
    grid-column: 1;
    grid-row: 1;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* styling for vehicle details page */
  #details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}