/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* heading with title and account */
#wrapper{
  margin: auto;
  max-width: 100%;
  align-content: center;
}

#main-content {
  width:80%;
  height:80%;
  align-content: center;
  background-color: white;
  padding: .5em;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.siteName {
  display: block;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: .5em;
}
.siteName a {
  color: #000;
  text-decoration: none;
}

#tools {
  position: absolute;
  top: .5em;
  right: 1em;
  height: 100%;
  align-items: center;
}

#tools a {
  color: #000;
  text-decoration: none;
}

/* navigation styling */

#navigation ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
  display: flex;  
  justify-content: space-evenly;
}

#navigation li {
  flex-grow: 1;  
  text-align: center;  
  padding-top: .5em
}

#navigation li a:hover {
  background-color: white;
  color: black;  
}

#navigation a {
  display: block;  
  color: white;
  background-color: black;
  padding: 20px;
  text-decoration: none;
}

/* Delorean hero section */
#hero img {
  position: relative;
}
#hero img {
  width: 60%;
}

#dmc_delorean {
  background-color: rgb(255,255,255,0.6);
  color: teal;
  position:absolute;
  top: 250px;
  left: 50px;
  padding: .5em;
  border-radius: 3px;
}

#dmc_delorean h2 {
  margin-bottom: 0;
}
#dmc_delorean ul, #dmc_delorean li {
  list-style: none;
  font-size: large;
  color: teal;
  margin: 0;
  padding: 0;
}

button {
  padding: .5em;
  background-color: teal;
  color: white;
  border-radius: 3px;
  border: 2px grey;
  font-weight: bold;
  margin: .5em;
}


/* upgrades section */
#upgrades {
  margin-left: 1em;
}
#delorean_upgrades {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upgrade img {
  background-color: teal;
  box-sizing: border-box;
  border: 1px solid black;
  max-width: 100%;
  border-radius: 3px;
  padding: 15px 10px;
}
/* specific styling for inventory page */
#inv-display {
  list-style-type: none;
}
#inv-display li {
  margin: 1em;
  border-radius: 3px;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 1em;
}
#inv-display li img {
  width:100%;
  border-radius: 7px 7px 0 0;
}

/* styling for vehicle details page */
#vehicle-img img{
  max-width: 100%;
  border-radius: 3px;
  padding-right:1em;
}
.price {
  font-size: x-large;

}

@media only screen and (min-width:700px) {
 
  body{
    background-image: url("../images/site/small_check.jpg");
  }
  #main-content {
    margin: auto;
    max-width: 80%;
    border: 5px solid teal;
    border-radius: 5px;
    background-color: white;
  }

  #tools {
    right: 11em;
    top: 1.25em;
  }

  #dmc_delorean {
    left: 12%;
  }

  #delorean-stuff{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1em;
  }
  #delorean_reviews {
    grid-column: 2;
    grid-row: 1;
  }
  #delorean_upgrades {
    grid-column: 1;
    grid-row: 1;
  }

  #inv-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* styling for vehicle details page */
  #details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
