<!-- HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- add classification form -->
<form action="/inv/addClass" method="post" id="new-classification">
    <h2>Add a New Classification</h2>
    <label for="classification_name">Name of Classification: </label>
    <input 
        type="text" 
        name="classification_id" 
        id="classification_id"
        placeholder="Classification Name"
        pattern="^[A-Za-z0-9]$"
        required><br>
    <i>NOTE: classification cannot include spaces or special characters of any kind</i><br>
    <input type="submit" value="Create New Classification" id="submit-button">
</form>