<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Message -->
<%- messages() %>

<!-- Errors -->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Messages Table -->
<%- table %>




<section id="messageOptions">
  <a class="management-link" href="/message/">Go to Inbox</a>
  <a class="management-link" href="/message/compose">Write a New Message</a>
</section>